body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    background-color:#000;
}

canvas{
    border:0px solid black;
}

#main{
    width:650px;
    display:flex;
    justify-content:center;
    margin1:0px auto;
}

#gameCanvas{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:rgb(243, 216, 187);
    background-image: var(--background);
}

#scoreCanvas{
    background:white;
}

.overlay {
    background: rgba(50, 50, 50, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-box {
    background: rgb(243, 216, 187);
    width: 400px;
    margin-top: 30vh;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(100, 100, 100, 1);
}

.form-title {
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    margin: 10px;
}

.form-grid {
    display: grid;
}

.form-label {
    grid-column: 1;
    line-height: 40px;
    text-align: right;
    padding-right: 10px;
}

.form-input {
    grid-column: 2;
    padding-left: 5px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
}

.character-grid {
    display: grid;
    margin-top: 10px;
    justify-content: center;
}

.character-img {
    width: 40px;
    margin: 5px;
    cursor:pointer;
}

.button-container {
    display: grid;
    margin-top: 10px;
    justify-content: center;
}

.submit-button {
    grid-column: 1;
    background: white;
    border: 0;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    font-size: 15px;
    cursor:pointer;
}

.submit-button:hover{
    background-color:rgb(255,130,0);
    color:white;
}